<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvGox37AB4lcBgXPz76-0I56hRwzxNVjw</string>
	<key>GCM_SENDER_ID</key>
	<string>784764792967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resTourism.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shaundb-205b5</string>
	<key>STORAGE_BUCKET</key>
	<string>shaundb-205b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784764792967:ios:5df1c9e55c58953cfb4822</string>
</dict>
</plist>